<table class="table table-hover">
  <thead>
      <tr>
          <th>#ID</th><th>片名</th><th>上映日期</th><th>類型</th>
          <th> <i class="fas fa-plus-square fa-lg text-primary" (click)="onInsert()"></i>
        </th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mr of service.list">
        <td (click)="populateForm(mr)">{{mr.id}}</td>
        <td (click)="populateForm(mr)">{{mr.title}}</td>
        <td (click)="populateForm(mr)">{{mr.releaseDate}}</td>
        <td>
         <!-- (click)="populateForm(mr)">{{mr.type}} -->
         <p *ngIf="mr.type === '0'" style="color:red;"> 未確定  </p>
         <p *ngIf="mr.type === '1'" style="color:blue;">電影</p>
         <p *ngIf="mr.type === '2'" style="color:green;">劇集</p>
          <!-- <span *ngSwitchDefault style="color:green">
            未知</span> -->

        </td>
        <td >
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(mr)"></i>

      </tr>
  </tbody>
</table>
<p></p>
<p></p>
<p></p>
